<main>
  <h1>Magic Logger</h1>
  <%= form_tag sessions_path do %>
    <%= text_field_tag :password, '', type: :password %>
    <%= submit_tag 'Acessar', class: 'btn btn-success' %>
  <% end %>
</main>
