// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.pages {
  &.index {
    margin: 0 20px;

    h1 {
      margin: 20px 0 25px 0;
    }

    #filters {
      label {
        margin: 6px;
      }

      input {
        width: 100%;
        margin: 0 15px 15px 0;
      }

      .btn {
        margin: 0 0 3px 0;
      }

      #from, #to {
        width: 160px;
        display: inline;
      }
    }

    a.btn {
      margin-bottom: 15px;
    }

    table.logs {
      width: 100% ;
      table-layout: fixed;

      tbody tr:nth-child(even) {
        background-color: #ebebeb;
      }

      tr {
        display: table-row;
      }

      td {
        padding: 0.35em 0.75em;
        overflow-wrap: break-word;
        font-family: monospace;
        font-size: 14px;
      }

      tr.request-log td {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        vertical-align:middle;
        background-color: white;
      }

      td.timestamp, td.status, td.http_method {
        text-align: center;
      }

      th.timestamp, td.timestamp {
        width: 15%;
      }

      th.path, td.path {
        width: 55%;
      }

      td.host, th.host {
        width: 20%;
      }

      td.status, th.status {
        width: 5%;
      }

      td.http_method, th.http_method {
        width: 7%;
      }

      tr.arbitrary-log td {
        padding: 3px;

        p {
          margin: 0;
          overflow-wrap: break-word;
        }
      }
    }
  }
}
